Christine Martinez's Module 4 Project- Task 1

Task 1- Series

Look at one dimensional panda Series to hold and process simple exam data
Then we will create a panda series named grades from a list of integers (exam scores)
Get the value of the first grade and trhen call the built in Series Functions

In [43]:
import pandas as pd

In [44]:
grades= pd.Series([87,100,94])

In [45]:
grades

0     87
1    100
2     94
dtype: int64

In [46]:
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

In [47]:
grades[0]

87

In [48]:
grades.count()

3

In [49]:
grades.mean()

93.66666666666667

In [50]:
grades.min()

87

In [51]:
grades.min()

87

In [52]:
grades.max()

100

In [53]:
grades.std()

6.506407098647712

In [54]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

Task 2- Series from Dictionary

In [55]:
grades=pd.Series({'Wally':87, 'Eva': 100, 'Sam':94})

In [56]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

Below is Eva's Score

In [57]:
grades['Eva']

100

Below is Wally's score

In [58]:
grades.Wally

87

In [59]:
grades.dtype

dtype('int64')

SELF CHECK on page 266

In [60]:
import numpy as np
import pandas as pd
temps =np.random.randint(60,101,6)
temperatures=pd.Series(temps)

In [61]:
temperatures

0    93
1    85
2    78
3    70
4    60
5    78
dtype: int64

In [62]:
temperatures.min()

60

In [63]:
temperatures.max()

93

In [64]:
temperatures.mean()

77.33333333333333

In [65]:
temperatures.describe()

count     6.000000
mean     77.333333
std      11.483321
min      60.000000
25%      72.000000
50%      78.000000
75%      83.250000
max      93.000000
dtype: float64